Repository JsDaddy/ngx-mask: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

fix(mask): android ime input and leading-optional validation
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/android-ime.spec.ts
  projects/ngx-mask-lib/src/test/issue-1515.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

docs(changelog): add android ime and optional-validation fixes to 21.1.0
  CHANGELOG.md
Due: none

feat(demo): add IP, CPF_CNPJ and CPF_CNPJ_ALPHA example cards
  src/app/options/options.component.spec.ts
  src/assets/content/common-cases.ts
  src/assets/content/lists.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

refactor(demo): angular 21 best practices
  src/app/app.component.ts
  src/app/options/options.component.ts
  src/app/shared/card-content/card-content.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

chore(deps): remove 18 unused dev dependencies
  .github/hooks/pre-commit
  angular.json
  bun.lock
  package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  802f424f2a0459f205c614e0a3fe11214e23b6d9
Due: none

deploy: 802f424f2a0459f205c614e0a3fe11214e23b6d9
  assets/content/common-cases.ts
  assets/content/lists.ts
  chunk-FDMHZOCR.js
  chunk-FDMHZOCR.js.map
  es-BM7XBZSQ.js
  es-BM7XBZSQ.js.map
  index.html
  main-RPDSJMQL.js
  main-RPDSJMQL.js.map
  main-W3FMEWOC.js.map
  styles-IR2RNXY5.css.map
  styles-UG6GZ7ND.css
  styles-UG6GZ7ND.css.map
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(deps): upgrade to angular 22.0.5 and pin all dependencies latest
  bun.lock
  eslint.config.js
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/test/complete-mask.spec.ts
  projects/ngx-mask-lib/src/test/export-as.spec.ts
  projects/ngx-mask-lib/src/test/forms.spec.ts
  projects/ngx-mask-lib/src/test/issue-1305.spec.ts
  projects/ngx-mask-lib/src/test/issue-1379.spec.ts
  projects/ngx-mask-lib/src/test/provide-ngx-mask.spec.ts
  projects/ngx-mask-lib/src/test/type-number.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/test-textarea-component.component.ts
  projects/ngx-mask-lib/src/test/utils/tri-mode-harness.ts
  projects/ngx-mask-lib/tsconfig.lib.json
  projects/ngx-mask-lib/tsconfig.lib.prod.json
  projects/ngx-mask-lib/tsconfig.spec.json
  src/app/options/options.component.html
  src/main.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(mask): duplicate decimal marker rejection and skeleton echo guard
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/issue-1250.spec.ts
  projects/ngx-mask-lib/src/test/issue-1590.spec.ts
  projects/ngx-mask-lib/src/test/issue-1593.spec.ts
  projects/ngx-mask-lib/src/test/separator.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/tri-mode-harness.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

docs(changelog): add 22.0.0 fixes
  CHANGELOG.md
Due: none

fix(mask): layout-aware month heuristics for year-first date masks
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/time-mask.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(mask): custom named mask aliases via provideNgxMask
  USAGE.md
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/test/mask-aliases.spec.ts
  projects/ngx-mask-lib/src/test/provide-ngx-mask.spec.ts
  projects/ngx-mask-lib/src/test/utils/tri-mode-harness.ts
  src/app/options/options.component.spec.ts
  src/assets/content/common-cases.ts
  src/assets/content/lists.ts
  src/main.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

docs(changelog): add 1513 fix and mask aliases to 22.0.0
  CHANGELOG.md
Due: none

feat(mask): banking typing mode via typeFromDecimals config
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/test/type-from-decimals.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(mask): default value on blur for empty inputs
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/default-value-on-blur.spec.ts
  projects/ngx-mask-lib/src/test/provide-ngx-mask.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

docs(usage): configuration guide and new option docs
  README.md
  USAGE.md
Due: none

docs(changelog): complete 22.0.0 section
  CHANGELOG.md
Due: none

fix(ci): disable eslint single-run inference to prevent lint crash
  eslint.config.js
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

refactor(mask): harmonize 22.0.0 feature code
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

test(mask): pin edge-case interplay of new 22.0.0 options
  USAGE.md
  projects/ngx-mask-lib/src/test/default-value-on-blur.spec.ts
  projects/ngx-mask-lib/src/test/mask-aliases.spec.ts
  projects/ngx-mask-lib/src/test/type-from-decimals.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(mask): typeFromDecimals directive input
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/type-from-decimals.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(demo): banking mode and default value cards
  USAGE.md
  src/app/options/options.component.html
  src/app/options/options.component.spec.ts
  src/assets/content/lists.ts
  src/assets/content/optional.ts
  src/assets/content/separators.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  af38db39214112d24301536d2b59b18778d6a440
Due: none

deploy: af38db39214112d24301536d2b59b18778d6a440
  assets/content/common-cases.ts
  assets/content/lists.ts
  assets/content/optional.ts
  assets/content/separators.ts
  index.html
  main-CFW7JFAG.js
  main-CFW7JFAG.js.map
  main-RPDSJMQL.js.map
  styles-SEIESFNG.css
  styles-SEIESFNG.css.map
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

refactor(demo): vendor libraries submodule into src/app/shared
  .gitmodules
  src/app/shared/anchor/anchor-label.pipe.ts
  src/app/shared/asset/asset.pipe.ts
  src/app/shared/asset/asset.type.ts
  src/app/shared/body-styles/body-styles.service.ts
  src/app/shared/fonts/Varela/Varela-Regular.ttf
  src/app/shared/fonts/fonts.scss
  src/app/shared/github/github-stars.service.ts
  src/app/shared/is-empty/is-empty.pipe.ts
  src/app/shared/link/link.path.ts
  src/app/shared/path/open-source.path.ts
  src/app/shared/scroll/scroll.service.ts
  src/app/shared/styles/general.scss
  src/app/shared/styles/media-breakpoints.scss
  src/app/shared/styles/scroll-bar.scss
  src/app/shared/version/version.token.ts
  src/assets/content/common-cases.ts
  src/assets/content/lists.ts
  src/assets/content/optional.ts
  src/assets/content/other.ts
  src/assets/content/parser-and-formatter.ts
  src/assets/content/separators.ts
  src/main.ts
  src/styles.scss
  tsconfig.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

feat(theme): replace JsDaddy brand palette with neutral theme
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
  src/app/shared/card-content/card-content.component.html
  src/app/shared/card-content/card-content.component.scss
  src/assets/images/open-source/header/logo-white.svg
  src/assets/images/open-source/header/logo.svg
  tailwind.config.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

chore(repo): remove JsDaddy ownership branding from metadata
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/PULL_REQUEST_TEMPLATE.md
  LICENSE
  package.json
  projects/ngx-mask-lib/package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

docs(readme): rewrite landing page without JsDaddy branding
  README.md
Due: none

feat(demo): make dark nav bar a persistent header with social links
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/accordion/accordion.component.html
  src/app/shared/accordion/accordion.component.ts
  src/app/shared/footer/footer.component.ts
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.scss
  src/app/shared/header/header.component.ts
  src/app/shared/header/header.type.ts
  src/app/shared/link/link.path.ts
  src/app/shared/visit-btn/visit-btn.component.html
  src/assets/images/open-source/header/github.svg
  src/assets/images/open-source/header/linkedin.svg
  src/assets/images/open-source/header/upwork.svg
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

feat(theme): switch to Vercel-style monochrome accent palette
  src/app/options/options.component.html
  src/app/shared/accordion/accordion.component.html
  src/app/shared/accordion/accordion.component.scss
  src/app/shared/card-content/card-content.component.html
  src/app/shared/card-content/card-content.component.scss
  src/app/shared/chip/chip.component.scss
  src/app/shared/github-buttons/github-buttons.component.scss
  src/app/shared/styles/general.scss
  src/app/shared/styles/scroll-bar.scss
  src/assets/images/open-source/accordion/common-cases-active.svg
  src/assets/images/open-source/accordion/options-active.svg
  src/assets/images/open-source/accordion/other-active.svg
  src/assets/images/open-source/accordion/separator-active.svg
  src/assets/images/open-source/accordion/yellow-chevron-down.svg
  src/assets/images/open-source/accordion/yellow-chevron-up.svg
  tailwind.config.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

fix(demo): show real GitHub star count for ngx-mask repo
  src/app/shared/github/github-stars.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(demo): redraw broken header icons and align optical sizing
  src/assets/images/open-source/header/burger.svg
  src/assets/images/open-source/header/close.svg
Due: none

chore(repo): drop JsDaddy Slack notifications from CI workflows
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
Due: none

feat(demo): add author cross-links to footer and readme
  README.md
  src/app/shared/footer/footer.component.html
  src/app/shared/footer/footer.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

chore(release): bump version to 22.0.1
  package.json
  projects/ngx-mask-lib/package.json
  src/app/shared/footer/footer.component.html
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

perf(release): exclude sourcemaps from published npm tarball
  projects/ngx-mask-lib/package.json
  src/assets/images/content/scroll-shadow.svg
  src/assets/images/open-source/accordion/yellow-chevron-up.svg
  src/assets/images/open-source/header/logo-white.svg
  src/assets/images/open-source/header/logo.svg
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

perf(demo): enable production optimization and trim highlight.js
  angular.json
  src/main.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

refactor(lib): extract applyMask dispatch into mask handler registry
  projects/ngx-mask-lib/src/lib/mask-handlers/cpf-cnpj.handler.ts
  projects/ngx-mask-lib/src/lib/mask-handlers/generic-pattern.handler.ts
  projects/ngx-mask-lib/src/lib/mask-handlers/ip.handler.ts
  projects/ngx-mask-lib/src/lib/mask-handlers/mask-handler.types.ts
  projects/ngx-mask-lib/src/lib/mask-handlers/mask-handlers.registry.ts
  projects/ngx-mask-lib/src/lib/mask-handlers/percent.handler.ts
  projects/ngx-mask-lib/src/lib/mask-handlers/separator.handler.ts
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Path conditions:
  eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix: any of: *.{ts,js,json}
  prettier . --write: any of: *.{ts,js,json}
  stylelint --fix: any of: *.scss
