Repository JsDaddy/ngx-mask: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

.lintstagedrc:

{
    "*.{ts,js,json}": [
        "eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix",
        "prettier . --write"
    ],
    "*.scss": "stylelint --fix"
}

fix(ref: no-ref): fix issues
  CHANGELOG.md
  README.md
  USAGE.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: no-ref): fix issues
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  USAGE.md
Due: none

fix(ref: no-ref): fix issues
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  10b1d96a9d714e835fafcba00ee5ebb5d67d2b33
Due: none

fix(ref: no-ref): fix issues
  CHANGELOG.md
  USAGE.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/add-prefix.spec.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: no-ref): fix issues (#1478)
  CHANGELOG.md
  USAGE.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/add-prefix.spec.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  0d3c51b2e912cc8a6d2cae15a8ef3e1a0a1f36d9
Due: none

fix(ref: no-ref): fix issues
  CHANGELOG.md
  bun.lockb
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/separator.cy-spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: no-ref): fix issues
  CHANGELOG.md
  USAGE.md
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/allow-negative-numbers.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  e815b5a91037be614eff88f8bc44c7aadc9e0321
Due: none

fix(ref: no-ref): fix issues
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/separator.cy-spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  9c2a8a170711170d3396e06b50ecc86c854e3e40
Due: none

fix(1508): inputTransformFn doesn't change the input form status
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(test): add tests for inputTransformFn handling null and form status
  projects/ngx-mask-lib/src/test/emit-events.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(forms): Propagate masked value to form control value.
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/forms.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(config): Ensure that "triggerOnMaskChange" and "shownMaskExpression" are received in "NgxMaskService" when provided through "provideNgxMask()".
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/default-config.spec.ts
  projects/ngx-mask-lib/src/test/provide-ngx-mask.spec.ts
  projects/ngx-mask-lib/src/test/trigger-on-mask-change.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(forms): Ensure that the masked value is propagated to the form control if setValue() is called multiple times with values that are subsequently masked.
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/forms.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(1532): When precision is not specified on "separator" mask error "toFixed() digits argument must be between 0 and 100"
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: #1496): enhancement
  .postcssrc.json
  CHANGELOG.md
  bun.lock
  bun.lockb
  package-lock.json
  package.json
  postcss.config.js
  projects/ngx-mask-lib/package.json
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/options/options.component.scss
  src/app/options/options.component.ts
  src/app/shared/card-content/card-content.component.scss
  src/styles.scss
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

Notes added by 'git notes add'
  dd9f592dc78b193836e21f174370a351453a5f64
Due: none

Notes added by 'git notes add'
  78a3771b7c4e77c5d27e6b9c8b0b6fcb656e34a6
Due: none

Notes added by 'git notes add'
  61899458b5d8d35a5722c7d4d06d7ba690a057b2
Due: none

feat(ref: no-ref): release
  CHANGELOG.md
  README.md
  bun.lock
  bun.lockb
  cypress/support/component.ts
  package-lock.json
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/complete-mask.spec.ts
  projects/ngx-mask-lib/src/test/emit-events.cy-spec.ts
  projects/ngx-mask-lib/src/test/provide-ngx-mask.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/trigger-on-mask-change.spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-trigger-on-mask-change.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: no-ref): fix release
  CHANGELOG.md
  angular.json
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/emit-events.cy-spec.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: no-ref): fix release
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  be89d974d6633f8137601e1deea60e7a87e233b3
Due: none

fix(ref:1534): quality check in fork
  .github/workflows/quality-check.yml
  README.md
  bun.lock
  package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref:1534): right logo message
  README.md
Due: none

fix(ref:1534): stylelint workaround
  .stylelintrc.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref:1534): run PR quality check only forked
  .github/workflows/quality-check.yml
Due: none
