Repository JsDaddy/ngx-mask: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

.lintstagedrc:

{
    "*.{ts,js,json}": [
        "eslint --report-unused-disable-directives --max-warnings 0 --fix",
        "prettier . --write"
    ],
    "*.scss": "stylelint --fix"
}

Notes added by 'git notes add'
  17d980ad2d7e91faaa5b125cfbc405d0a378a84a
Due: none

fix(ref: no-ref): change to tailwind styles
  .stylelintignore
  .stylelintrc.json
  bun.lockb
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/shared/card-content/card-content.component.html
  src/app/shared/card-content/card-content.component.scss
  src/styles.scss
  tailwind.config.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): remove comments
  src/app/app.component.scss
Due: stylelint --fix

Notes added by 'git notes add'
  b5f37f1a4ff84e5b19e3831246e06b4c5b585d98
Due: none

feat(ref: #188): add strict eslint rules
  .github/workflows/publish.yml
  README.md
  bun.lockb
  cypress.config.ts
  eslint.config.js
  package.json
  projects/ngx-mask-lib/src/lib/custom-keyboard-event.ts
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/custom-patterns.spec.ts
  projects/ngx-mask-lib/src/test/delete.spec.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/test-functions.component.ts
  src/app/app.component.ts
  src/app/options/options.component.ts
  src/assets/content/common-cases.ts
  src/assets/content/lists.ts
  src/assets/content/optional.ts
  src/assets/content/other.ts
  src/assets/content/parser-and-formatter.ts
  src/assets/content/separators.ts
  src/main.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: #188): add strict eslint rules
  bun.lockb
  cypress.config.ts
  eslint.config.js
  package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/cursor.cy-spec.ts
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
  src/app/options/options.component.html
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: #188): fix 1410
  CHANGELOG.md
  eslint.config.js
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: #188): rename types, remove zone js
  CHANGELOG.md
  README.md
  angular.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.providers.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/custom-patterns.spec.ts
  projects/ngx-mask-lib/src/test/default-config.spec.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
  src/main.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): update workflows versions
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
Due: none

Notes added by 'git notes add'
  408dbd9d3b3ef20f820ca41f58981dbecb8c330c
Due: none

fix(ref: no-ref): release
  projects/ngx-mask-lib/src/lib/custom-keyboard-event.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/default-config.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/cursor.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  src/app/options/options.component.html
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/show-mask-typed.cy-spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  angular.json
  projects/ngx-mask-lib/src/test/show-mask-typed.cy-spec.ts
  src/app/options/options.component.scss
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix/issues (#1443)
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/cursor.cy-spec.ts
  projects/ngx-mask-lib/src/test/default-config.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/show-mask-typed.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: 1440): add version lib version to slack
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
Due: none

fix(ref: 1440): add version lib version to slack
  .github/workflows/quality-check.yml
Due: none

fix(ref: 1440): add version lib version to slack
  .github/workflows/quality-check.yml
  .github/workflows/scripts/quality.sh
Due: none

fix(ref: 1440): add version lib version to slack
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
  .github/workflows/scripts/quality.sh
Due: none

Notes added by 'git notes add'
  cced9568d114593b025d7b5949cf50655b8ac46c
Due: none

fix(ref: no-ref): fix issues
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
  .github/workflows/scripts/quality.sh
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/keep-character-position.cy-spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  .github/workflows/quality-check.yml
Due: none

fix(ref: no-ref): fix issues
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  .github/workflows/quality-check.yml
  .github/workflows/scripts/quality.sh
Due: none

fix(ref: no-ref): fix issues
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/cursor.cy-spec.ts
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
  projects/ngx-mask-lib/src/test/separator.cy-spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  projects/ngx-mask-lib/src/lib/ngx-mask-expression.enum.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/validation.spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.ts
  src/assets/content/common-cases.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  CHANGELOG.md
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write
