Repository JsDaddy/ngx-mask: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

.lintstagedrc:

{
    "*.{ts,js,json}": [
        "eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix",
        "prettier . --write"
    ],
    "*.scss": "stylelint --fix"
}

fix(ref: no-ref): fix issues
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/add-prefix.spec.ts
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  1d43b720079dc581fc1f401135fb6f1dc7777223
Due: none

fix(ref: 1559): keyboard up arrow key disabled when mask is applied
  bun.lock
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/textarea.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-functions.component.ts
  projects/ngx-mask-lib/src/test/utils/test-textarea-component.component.ts
  src/app/options/options.component.html
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: 1559): update ver
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/test/textarea.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(no-ref): unit tests
  projects/ngx-mask-lib/src/test/textarea.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(no-ref): remove extra code
  src/app/options/options.component.html
Due: none

Notes added by 'git notes add'
  e35fe94c46d8704bd8d8525d52ebf952523a8f7a
Due: none

fix(ref: 1560): form marked as dirty on initial load
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/forms.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(no-ref): bump ver
  package.json
  projects/ngx-mask-lib/package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(no-ref): revert changes
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

Notes added by 'git notes add'
  9b163454cf96d2d009d71902192f50c1e68e7571
Due: none

feat(no-ref): added changelog
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  11d457ccc2f786e301ff57336ae505a63ed5466e
Due: none

fix(ref: 1560): added handling of "writingValue" variable to avoid the propagation of the changed value
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix: don't call onchange from writeValue
  bun.lock
  package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/cva.spec.ts
  projects/ngx-mask-lib/src/test/type-number.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix: package.json to reduce vulnerabilities
  package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(mask): add support for alphanumeric CNPJ format
  USAGE.md
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask-expression.enum.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/place-holder-character.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(ref:no-ref): ng21 v2
  package.json
  projects/ngx-mask-lib/src/test/add-prefix.spec.ts
  projects/ngx-mask-lib/src/test/allow-negative-numbers.spec.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/complete-mask.spec.ts
  projects/ngx-mask-lib/src/test/copy-paste.spec.ts
  projects/ngx-mask-lib/src/test/custom-date.spec.ts
  projects/ngx-mask-lib/src/test/custom-patterns.spec.ts
  projects/ngx-mask-lib/src/test/default-config.spec.ts
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
  projects/ngx-mask-lib/src/test/delete.spec.ts
  projects/ngx-mask-lib/src/test/drop-special-charaters.spec.ts
  projects/ngx-mask-lib/src/test/dynamic.spec.ts
  projects/ngx-mask-lib/src/test/export-as.spec.ts
  projects/ngx-mask-lib/src/test/forms.spec.ts
  projects/ngx-mask-lib/src/test/inputTransformFn.spec.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
  projects/ngx-mask-lib/src/test/percent.spec.ts
  projects/ngx-mask-lib/src/test/provide-ngx-mask.spec.ts
  projects/ngx-mask-lib/src/test/repeat-mask.spec.ts
  projects/ngx-mask-lib/src/test/secure-mask.spec.ts
  projects/ngx-mask-lib/src/test/separator-2.spec.ts
  projects/ngx-mask-lib/src/test/separator-3.spec.ts
  projects/ngx-mask-lib/src/test/separator-4.spec.ts
  projects/ngx-mask-lib/src/test/separator-non-en-locale.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/show-mask-typed.spec.ts
  projects/ngx-mask-lib/src/test/test-sufix.spec.ts
  projects/ngx-mask-lib/src/test/trigger-on-mask-change.spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/test-functions.component.ts
  projects/ngx-mask-lib/src/test/validation.spec.ts
  projects/ngx-mask-lib/tsconfig.spec.json
  src/app/app.component.spec.ts
  tsconfig.spec.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(ref:no-ref): ng21 v3
  .github/workflows/codeql.yml
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
Due: none

feat(ref:no-ref): ng21 v4
  angular.json
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/drop-special-charaters.spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(ref:no-ref): ng21 v5
  bun.lock
  package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(ref:no-ref): ng21 v6
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/show-mask-typed.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

feat(ref:no-ref): ng21 v6
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/separator-3.spec.ts
  projects/ngx-mask-lib/src/test/trigger-on-mask-change.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref: no-ref): update tailwind
  .postcssrc.json
  .stylelintrc.json
  bun.lock
  eslint.config.js
  package.json
  postcss.config.js
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  src/app/app.component.scss
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
  src/app/shared/card-content/card-content.component.scss
  src/styles.scss
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): update tailwind
  src/app/shared/card-content/card-content.component.scss
Due: stylelint --fix

Notes added by 'git notes add'
  683006ad77d73c25fa6cc94f3c8f77f2f17a7ca4
Due: none

deploy: 683006ad77d73c25fa6cc94f3c8f77f2f17a7ca4
  accordion.component-ENWKSCUI.css.map
  accordion.component-VPZWHRGJ.css.map
  app.component-5KU22IJE.css.map
  app.component-EV35ITUA.css.map
  assets/content/common-cases.ts
  assets/content/optional.ts
  assets/content/other.ts
  assets/content/parser-and-formatter.ts
  assets/content/separators.ts
  card-content.component-OSBH6AA3.css.map
  card-content.component-TIYLKAFP.css.map
  chip.component-3AG4QOF6.css.map
  chip.component-WK4R23RM.css.map
  es-GDAQ4JSS.js
  es-GDAQ4JSS.js.map
  es-PS5CU4FD.js.map
  github-buttons.component-7TVZT7F2.css.map
  github-buttons.component-ADQIESUW.css.map
  index.html
  main-CLRKRMN3.js
  main-CLRKRMN3.js.map
  main-O7PRWQPD.js
  main-O7PRWQPD.js.map
  options.component-3F2GCUTH.css.map
  options.component-TKD7E6KJ.css.map
  styles-IR2RNXY5.css
  styles-IR2RNXY5.css.map
  styles-WBGURQEC.css
  styles-WBGURQEC.css.map
  visit-btn.component-BYQ5EQND.css.map
  visit-btn.component-WJ53GOHK.css.map
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref:no-ref): clean up deps
  CHANGELOG.md
  bun.lock
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/test/emit-events.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-trigger-on-mask-change.component.ts
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref:1585): fix issue
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/test/paste.cy-spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write

fix(ref:1560): fix issue
  CHANGELOG.md
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/test/dirty-state.cy-spec.ts
  projects/ngx-mask-lib/src/test/show-mask-typed-initial-value.cy-spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --no-warn-ignored --fix, prettier . --write
