Repository JsDaddy/ngx-mask: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

.lintstagedrc:

{
    "*.{ts,js,json}": [
        "eslint --report-unused-disable-directives --max-warnings 0 --fix",
        "prettier . --write"
    ],
    "*.scss": "stylelint --fix"
}

fix(ref: no-ref): fix issues
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues (#1447)
  .github/workflows/publish.yml
  .github/workflows/quality-check.yml
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-expression.enum.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/cursor.cy-spec.ts
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
  projects/ngx-mask-lib/src/test/keep-character-position.cy-spec.ts
  projects/ngx-mask-lib/src/test/separator.cy-spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/validation.spec.ts
  src/assets/content/common-cases.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

Notes added by 'git notes add'
  0bf5c93064885ed394f526d14ad23c3f8beb9e8e
Due: none

fix(ref: no-ref): fix issues
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/secure-mask.spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  tsconfig.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref:#1452): fix issues
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/secure-mask.spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
  src/app/options/options.component.html
  tsconfig.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

Notes added by 'git notes add'
  23e1ee0f52dc8a6a6262b4e5a2a9b41b58445dd2
Due: none

refactor(tests): update test functions and improve input handling
  projects/ngx-mask-lib/src/test/add-prefix.spec.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/delete.spec.ts
  projects/ngx-mask-lib/src/test/dynamic.spec.ts
  projects/ngx-mask-lib/src/test/secure-mask.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/show-mask-typed.spec.ts
  projects/ngx-mask-lib/src/test/time-mask.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-functions.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(1449): handle changing of hiddenInput; enhance applyMask method with detailed comments and improved handling
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix: improve mask validation by using cleaned mask for character checks
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(tests): enhance backspace handling in mask delete tests and update hiddenInput default value
  projects/ngx-mask-lib/src/test/delete.cy-spec.ts
  projects/ngx-mask-lib/src/test/utils/cypress-test-component.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

Notes added by 'git notes add'
  566b94801b7bdd3bfd3304fd4b1146dbf3969650
Due: none

fix(ref: no-ref): fix swiss locale thousands separator issue
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(tests): enhance input handling in typeTest function for text elements
  projects/ngx-mask-lib/src/test/utils/test-functions.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(hiddenInput): reset input value when hiddenInput changes from true to false
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

refactor(ngx-mask-applier): simplify _shiftStep method by removing unnecessary parameters
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: no-ref): chane @Input, @Ouput to signal
  bun.lockb
  package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
  src/assets/content/optional.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: no-ref): add security autoCsp, unusedStandaloneImports to error
  angular.json
  tsconfig.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: no-ref): change tests to signals
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/test/add-prefix.spec.ts
  projects/ngx-mask-lib/src/test/add-suffix.spec.ts
  projects/ngx-mask-lib/src/test/allow-negative-numbers.spec.ts
  projects/ngx-mask-lib/src/test/basic-logic.spec.ts
  projects/ngx-mask-lib/src/test/clear-if-not-match-the-mask.spec.ts
  projects/ngx-mask-lib/src/test/complete-mask.spec.ts
  projects/ngx-mask-lib/src/test/copy-paste.spec.ts
  projects/ngx-mask-lib/src/test/custom-date.spec.ts
  projects/ngx-mask-lib/src/test/custom-patterns.spec.ts
  projects/ngx-mask-lib/src/test/custom-symbol-regexp.spec.ts
  projects/ngx-mask-lib/src/test/default-config.spec.ts
  projects/ngx-mask-lib/src/test/delete.spec.ts
  projects/ngx-mask-lib/src/test/drop-special-charaters.spec.ts
  projects/ngx-mask-lib/src/test/dynamic.spec.ts
  projects/ngx-mask-lib/src/test/export-as.spec.ts
  projects/ngx-mask-lib/src/test/inputTransformFn.spec.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
  projects/ngx-mask-lib/src/test/percent.spec.ts
  projects/ngx-mask-lib/src/test/place-holder-character.spec.ts
  projects/ngx-mask-lib/src/test/repeat-mask.spec.ts
  projects/ngx-mask-lib/src/test/secure-mask.spec.ts
  projects/ngx-mask-lib/src/test/separator-non-en-locale.spec.ts
  projects/ngx-mask-lib/src/test/separator.spec.ts
  projects/ngx-mask-lib/src/test/show-mask-typed.spec.ts
  projects/ngx-mask-lib/src/test/test-sufix.spec.ts
  projects/ngx-mask-lib/src/test/time-mask.spec.ts
  projects/ngx-mask-lib/src/test/trigger-on-mask-change.spec.ts
  projects/ngx-mask-lib/src/test/type-number.spec.ts
  projects/ngx-mask-lib/src/test/utils/test-component.component.ts
  projects/ngx-mask-lib/src/test/validation.spec.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: no-ref): change tests to signals
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.pipe.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/mask.pipe.spec.ts
  src/app/options/options.component.html
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: no-ref): remove unusable code
  src/app/options/options.component.html
Due: none

feat(ref: no-ref): remove unusable code
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask.config.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

feat(ref: no-ref): did ngxtension migration
  src/app/options/options.component.html
  tsconfig.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

Notes added by 'git notes add'
  035f1ad3cc7f679e465fdaeb88bc1c5c146c9421
Due: none

fix(ref: no-ref): fix issues
  CHANGELOG.md
  package.json
  projects/ngx-mask-lib/package.json
  projects/ngx-mask-lib/src/lib/ngx-mask-applier.service.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.directive.ts
  projects/ngx-mask-lib/src/lib/ngx-mask.service.ts
  projects/ngx-mask-lib/src/test/allow-few-mask.cy-spec.ts
  projects/ngx-mask-lib/src/test/cursor.cy-spec.ts
  projects/ngx-mask-lib/src/test/custom-patterns.spec.ts
  projects/ngx-mask-lib/src/test/separator.cy-spec.ts
  src/app/options/options.component.html
  src/app/options/options.component.scss
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write, stylelint --fix

fix(ref: no-ref): fix issues
  src/app/options/options.component.html
  src/app/options/options.component.ts
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

fix(ref: no-ref): fix issues
  CHANGELOG.md
  src/app/options/options.component.scss
Due: stylelint --fix

fix(ref: no-ref): update deps
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  bun.lockb
  package.json
Due: eslint --report-unused-disable-directives --max-warnings 0 --fix, prettier . --write

Notes added by 'git notes add'
  3498c5d39deb9fbe0d351ed40832c726fe501e62
Due: none

Notes added by 'git notes add'
  f71c5b2c257db572dc0a161ac6ee68f9d97fb100
Due: none
